<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
     <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>StartUp Essentials Exchange</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="{{STATIC_URL}}dist/favicon.ico">
        <link rel="stylesheet" href="{{STATIC_URL}}dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{STATIC_URL}}dist/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{{STATIC_URL}}dist/css/main.css">
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}dist/sweetalert-master/lib/sweet-alert.css">
        <script src="{{STATIC_URL}}dist/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="{{STATIC_URL}}dist/js/vendor/bootstrap.min.js"></script>
        <script src="{{STATIC_URL}}dist/js/vendor/modernizr-2.8.3.min.js"></script>
        <script src="{{STATIC_URL}}dist/js/vendor/jquery.sticky.js"></script>
        <script src="{{STATIC_URL}}dist/js/main.js"></script>
		<script src="{{STATIC_URL}}dist/jquery-validation/dist/jquery.validate.js"></script>
		<script src="{{STATIC_URL}}dist/sweetalert-master/lib/sweet-alert.min.js"></script>
		
        <!-- Google Analytics -->
       
        <script>
			(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src='http://www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			ga('create','UA-49310681-4','auto');ga('send','pageview');
        </script>
		<script>//Restricts the characters in an input, in this case the whatsapp field to only numbers
			$(document).ready(function() {
				$('.numericField').keypress(function(key) {
					if(key.charCode < 48 || key.charCode > 57) return false;
				});
			});
		</script>
		<script>
			function validateForm1(){
				if($('#name1').val() == '' || $('#school1').val() == '' || $('#phone1').val() == '' || $('#email1').val() == '' || $('#country1').val() == ''){
					swal({
						title: 'Something went wrong',
						text: 'All fields are required.',
						type: "warning",
					});
					return false;
				}
				var name1 = $('#name1').val();
				var school1 = $('#school1').val();
				var phone1 = $('#phone1').val();
				var email1 = $('#email1').val();
				var country1 = $('#country1').val();
				var csrftoken = getCookie('csrftoken');
				$.ajaxSetup({
					beforeSend: function(xhr, settings) {
						if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
							// Send the token to same-origin, relative URLs only.
							// Send the token only if the method warrants CSRF protection
							// Using the CSRFToken value acquired earlier
							xhr.setRequestHeader("X-CSRFToken", csrftoken);
						}
					}
				});
				$.ajax({
					url: "/sendemail/",
					async: false,
					type: "POST",
					data:{'name':name1,'school':school1,'phone':phone1,'email':email1,'country':country1,}
				}).done(function() {
				  swal({
						title: 'Success',
						text: 'We have processed your request. We will get in contact with you soon.',
						type: "success",
					});					
				});
				return false;
			}
			function validateForm2(){
				if($('#name2').val() == '' || $('#school2').val() == '' || $('#phone2').val() == '' || $('#email2').val() == '' || $('#country2').val() == ''){
					swal({
						title: 'Something went wrong',
						text: 'All fields are required.',
						type: "warning",
					});
					return false;
				}
				var name2 = $('#name2').val();
				var school2 = $('#school2').val();
				var phone2 = $('#phone2').val();
				var email2 = $('#email2').val();
				var country2 = $('#country2').val();
				var csrftoken = getCookie('csrftoken');
				$.ajaxSetup({
					beforeSend: function(xhr, settings) {
						if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
							// Send the token to same-origin, relative URLs only.
							// Send the token only if the method warrants CSRF protection
							// Using the CSRFToken value acquired earlier
							xhr.setRequestHeader("X-CSRFToken", csrftoken);
						}
					}
				});
				$.ajax({
					url: "/sendemail/",
					async: false,
					type: "POST",
					data:{'name':name2,'school':school2,'phone':phone2,'email':email2,'country':country2,}
				}).done(function() {
				  swal({
						title: 'Success',
						text: 'We have processed your request. We will get in contact with you soon.',
						type: "success",
					});					
				});
				return false;
			}
			function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie != '') {
					var cookies = document.cookie.split(';');
					for (var i = 0; i < cookies.length; i++) {
						var cookie = jQuery.trim(cookies[i]);
						// Does this cookie string begin with the name we want?
						if (cookie.substring(0, name.length + 1) == (name + '=')) {
							cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
							break;
						}
					}
				}
				return cookieValue;
			}
			function csrfSafeMethod(method) {
				// these HTTP methods do not require CSRF protection
				return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			}
			function sameOrigin(url) {
				// test that a given url is a same-origin URL
				// url could be relative or scheme relative or absolute
				var host = document.location.host; // host + port
				var protocol = document.location.protocol;
				var sr_origin = '//' + host;
				var origin = protocol + sr_origin;
				// Allow absolute or scheme relative URLs to same origin
				return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
					(url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
					// or any other URL that isn't scheme relative or absolute i.e relative.
					!(/^(\/\/|http:|https:).*/.test(url));
			}

		</script>
	</head>

    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="{{STATIC_URL}}dist/http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="fix-form small-hidden">
		<a><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            <h3>Give us your contact details and we will contact you shortly.</h3>
            <form method="post" action="/" id="contact2" onsubmit="return validateForm2()">
				{% csrf_token %}
              <input type="text" name="name2" placeholder="Nombre" id="name2">
              <input type="text" name="school2" placeholder="Universidad/Colegio" id="school2">
              <input type="text" name="email2" placeholder="Correo electrónico" id="email2">
              <input type="text" name="country2" placeholder="Pais" id="country2">
              <input type="text" name="phone2" placeholder="Número tefefónico" class="numericField" id="phone2">
				  <script>
						$("#contact2").validate({
								rules:{
									name2:{
										required:true,
									},
									school2:{
										required:true,																
									},
									email2:{
										required:true,																
									},
									country2:{
										required:true,																
									},
									phone2:{
										required:true,																
									},								
								},
								messages:{
									name2:{
										required:'',
									},
									school2:{
										required:'',																
									},
									email2:{
										required:'',																
									},
									country2:{
										required:'',																
									},
									phone2:{
										required:'',																
									},
								},
								errorClass: "bgError",
								errorPlacement: function(error, element) {      
									$(".hidden_error_label2").html(error);
								},								
							});
					</script>
              <button class="btn btn-primary btn-lg" role="button">Submit</button>
			  <span class="hidden_error_label2 hidden"></span>
            </form>
          </div>
          
    <div class="jumbotron">
      <div class="logo"></div>
      <div class="container">
        <h1>Entrepreneurship education reinvented</h1>
        <h2>Exchange, a project based classroom</h2>
        <div class="cta-container" id="prueba">
          <div class="fix-form">
			  <a><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            <h3>Give us your contact details and we will contact you shortly.</h3>
            <form method="post" action="/" id="contact1" onsubmit="return validateForm1()">
				{% csrf_token %}
              <input type="text" name="name1" placeholder="Nombre" id="name1">
              <input type="text" name="school1" placeholder="Universidad/colegio" id="school1">
              <input type="text" name="email1" placeholder="Correo electrónico" id="email1">
              <input type="text" name="country1" placeholder="Pais" id="country1">
              <input type="text" name="phone1" placeholder="Número tefefónico" class="numericField" id="phone1">
				  <script>
						$("#contact1").validate({
								rules:{
									name1:{
										required:true,
									},
									school1:{
										required:true,																
									},
									email1:{
										required:true,																
									},
									country1:{
										required:true,																
									},
									phone1:{
										required:true,																
									},								
								},
								messages:{
									name1:{
										required:'',
									},
									school1:{
										required:'',																
									},
									email1:{
										required:'',																
									},
									country1:{
										required:'',																
									},
									phone1:{
										required:'',																
									},
								},
								errorClass: "bgError",
								errorPlacement: function(error, element) {      
									$(".hidden_error_label1").html(error);
								},								
							});
					</script>
              <button class="btn btn-primary btn-lg" role="button">Submit</button>
			  <span class="hidden_error_label1 hidden"></span>
            </form>
          </div>
          <a class="btn btn-primary btn-lg form-activate" href="javascript:void(0)" role="button">I want to learn more</a>
        </div>
      </div>
    </div>
       
    <div class="container">
      <div class="row row-for">
        <div class="col-md-4">
          <img src="{{STATIC_URL}}dist/img/student.svg">
          <h2>Para estudiantes</h2>
          <h4>
            Construcción de equipos<br>
            Documentar progreso y compartirlo con otros<br>
            Recibir realimentación para mejorar<br>
          </h4>
        </div>
        <div class="col-md-4">
          <img src="{{STATIC_URL}}dist/img/teacher.svg">
          <h2>Para profesores</h2>
          <h4>
            Seguimiento de estudiantes en un solo lugar<br>
            Realimentación a equipos<br>
            Ahorro de tiempo en asesoría
          </h4>
       </div>
        <div class="col-md-4">
          <img src="{{STATIC_URL}}dist/img/school.svg">
          <h2>Para universidades</h2>
          <h4>
            Monitorear actividades de los alumnos<br>
            Supervisar el desempeño de profesores<br>
            Comparar efectividad e interés en las clases<br>
          </h4>
        </div>
      </div>
    </div>  

    <div class="container-fluid container-screen">
      <div class="row">
        <div class="col-md-4 col-md-offset-2 text">
          <h2>
            <strong>En las universidades Exchange es perfecto para:</strong><br>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"> </span> Clases de emprendimiento<br>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"> </span> Incubadoras<wbr>/<wbr>aceleradoras<br>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"> </span> Grupos de investigación<br>
          </h2>
        </div>
        <div class="col-md-6 mock-container">
          <img src="{{STATIC_URL}}dist/img/mockup.png">
       </div>
      </div>
    </div>

   <div class="container-fluid testimonials">
      <div class="container">

        <div class="row">
          <div class="col-md-4 col-md-offset-2 center">
              <div class="img-container">
                <img src="{{STATIC_URL}}dist/img/Rafa_Lorenzo.jpg">
              </div>
            
              <h4>
                <strong>Rafa Lorenzo</strong><br>
                Director de emprendimiento<br>
                Tec de Monterrey, Mexico
              </h4>
              <h5>
                "Requerimos un framework efectivo que permita gestionar y monitorear el desempeño de los equipos emprendedores”
              </h5>
          </div>
       
          <div class="col-md-1"></div>

          <div class="col-md-4 center"> 
              <div class="img-container">
                <img src="{{STATIC_URL}}dist/img/Catalina_Ruiz.jpg">
              </div>
              <h4>
                <strong>Catalina Ruiz</strong><span><br>
                Coordinadora de unidad de emprendimiento Universidad EAN, Colombia</span>
              </h4>
              <h5>
                "Los emprendedores formulan su plan o modelo de negocio y los resultados son desalentadores... pasar a un esquema dinámico orientado a resultados es un gran reto”
              </h5>
          </div>
          
        </div>
      </div>
    </div>


      <hr>

      <footer>
       <p>&copy; Exchange, un producto de <a href="http://startupessentials.co" target="_blank">Startup Essentials</a></p>
      </footer>


    </body>
</html>
